In [7]:
import pandas as pd
df1=pd.DataFrame({
  'city':['Karachi','Lahore','Islamabad','Multan','Faisalabad'],
  'temperature':[30,35,40,35,38]  

})
df1

         city  temperature
0     Karachi           30
1      Lahore           35
2   Islamabad           40
3      Multan           35
4  Faisalabad           38

In [8]:
df2=pd.DataFrame({
    'city':['Karachi','Lahore','Islamabad'],
    'humidity':[10,20,30]
})
df2

        city  humidity
0    Karachi        10
1     Lahore        20
2  Islamabad        30

In [9]:
#Merge Basically Perform Intersection Between Two Data sets
df=pd.merge(df1,df2,on='city')
df

        city  temperature  humidity
0    Karachi           30        10
1     Lahore           35        20
2  Islamabad           40        30

In [13]:
df=pd.merge(df1,df2,on='city', how="outer")
df

         city  temperature  humidity
0     Karachi           30      10.0
1      Lahore           35      20.0
2   Islamabad           40      30.0
3      Multan           35       NaN
4  Faisalabad           38       NaN