In [5]:
import pandas as pd
df=pd.read_csv('wetherdata.csv')
df

     Date  Temperature  Windspead  Event
0  1-2-21         20.0       30.0  Sunny
1  2-2-21         10.0       20.0   Snow
2  3-2-21         15.0       40.0   Rain
3  4–2-21         18.0       35.0    NaN
4  5-2-21          NaN       30.0  Sunny
5  6-2-21          NaN        NaN   Rain
6  7-2-21         20.0       10.0   Snow
7  8-2-21         10.0        NaN    NaN

In [8]:
newdf=df.fillna(0)
newdf

     Date  Temperature  Windspead  Event
0  1-2-21         20.0       30.0  Sunny
1  2-2-21         10.0       20.0   Snow
2  3-2-21         15.0       40.0   Rain
3  4–2-21         18.0       35.0      0
4  5-2-21          0.0       30.0  Sunny
5  6-2-21          0.0        0.0   Rain
6  7-2-21         20.0       10.0   Snow
7  8-2-21         10.0        0.0      0

In [9]:
newdf=df.fillna(method='ffill')
newdf

     Date  Temperature  Windspead  Event
0  1-2-21         20.0       30.0  Sunny
1  2-2-21         10.0       20.0   Snow
2  3-2-21         15.0       40.0   Rain
3  4–2-21         18.0       35.0   Rain
4  5-2-21         18.0       30.0  Sunny
5  6-2-21         18.0       30.0   Rain
6  7-2-21         20.0       10.0   Snow
7  8-2-21         10.0       10.0   Snow

In [10]:
newdf=df.fillna(method='bfill')
newdf

     Date  Temperature  Windspead  Event
0  1-2-21         20.0       30.0  Sunny
1  2-2-21         10.0       20.0   Snow
2  3-2-21         15.0       40.0   Rain
3  4–2-21         18.0       35.0  Sunny
4  5-2-21         20.0       30.0  Sunny
5  6-2-21         20.0       10.0   Rain
6  7-2-21         20.0       10.0   Snow
7  8-2-21         10.0        NaN    NaN

In [13]:
newdf=df.fillna(method='ffill',axis='rows')
newdf

     Date  Temperature  Windspead  Event
0  1-2-21         20.0       30.0  Sunny
1  2-2-21         10.0       20.0   Snow
2  3-2-21         15.0       40.0   Rain
3  4–2-21         18.0       35.0   Rain
4  5-2-21         18.0       30.0  Sunny
5  6-2-21         18.0       30.0   Rain
6  7-2-21         20.0       10.0   Snow
7  8-2-21         10.0       10.0   Snow

In [14]:
newdf=df.fillna(method='ffill',limit=1)
newdf

     Date  Temperature  Windspead  Event
0  1-2-21         20.0       30.0  Sunny
1  2-2-21         10.0       20.0   Snow
2  3-2-21         15.0       40.0   Rain
3  4–2-21         18.0       35.0   Rain
4  5-2-21         18.0       30.0  Sunny
5  6-2-21          NaN       30.0   Rain
6  7-2-21         20.0       10.0   Snow
7  8-2-21         10.0       10.0   Snow

In [15]:
newdf=df.interpolate()
newdf

     Date  Temperature  Windspead  Event
0  1-2-21    20.000000       30.0  Sunny
1  2-2-21    10.000000       20.0   Snow
2  3-2-21    15.000000       40.0   Rain
3  4–2-21    18.000000       35.0    NaN
4  5-2-21    18.666667       30.0  Sunny
5  6-2-21    19.333333       20.0   Rain
6  7-2-21    20.000000       10.0   Snow
7  8-2-21    10.000000       10.0    NaN

In [28]:
df

     Date  Temperature  Windspead  Event
0  1-2-21         20.0       30.0  Sunny
1  2-2-21         10.0       20.0   Snow
2  3-2-21         15.0       40.0   Rain
3  4–2-21         18.0       35.0    NaN
4  5-2-21          NaN       30.0  Sunny
5  6-2-21          NaN        NaN   Rain
6  7-2-21         20.0       10.0   Snow
7  8-2-21         10.0        NaN    NaN

In [53]:
newdf=pd.read_csv('wetherdata.csv',parse_dates=['Date'])
newdf.set_index('Date',inplace=True)
newdf

        Temperature  Windspead  Event
Date
1-2-21         20.0       30.0  Sunny
2-2-21         10.0       20.0   Snow
3-2-21         15.0       40.0   Rain
4–2-21         18.0       35.0    NaN
5-2-21          NaN       30.0  Sunny
6-2-21          NaN        NaN   Rain
7-2-21         20.0       10.0   Snow
8-2-21         10.0        NaN    NaN

In [51]:
# If any row contain 1 valid value than show the row 
newdf=df.dropna(thresh=1)
newdf

        Temperature  Windspead  Event
Date
1-2-21         20.0       30.0  Sunny
2-2-21         10.0       20.0   Snow
3-2-21         15.0       40.0   Rain
4–2-21         18.0       35.0    NaN
5-2-21          NaN       30.0  Sunny
6-2-21          NaN        NaN   Rain
7-2-21         20.0       10.0   Snow
8-2-21         10.0        NaN    NaN

In [50]:
# If any row contain 2 valid value than show the row 
newdf=df.dropna(thresh=2)
newdf

        Temperature  Windspead  Event
Date
1-2-21         20.0       30.0  Sunny
2-2-21         10.0       20.0   Snow
3-2-21         15.0       40.0   Rain
4–2-21         18.0       35.0    NaN
5-2-21          NaN       30.0  Sunny
7-2-21         20.0       10.0   Snow