In [1]:
import pandas as pd
df=pd.read_csv('data.csv')
df

   S.No      Date  Temperature  Event  Windspeed
0     1  01/02/19           35   Snow          4
1     2  02/02/19           30   Rain          6
2     3  03/02/19           25  Sunny          8
3     4  04/02/19           20  Sunny         12
4     5  05/02/19           22   Rain         16
5     6  06/02/19           15   Snow         20

In [5]:
df['Temperature'].max()

35

In [6]:
df.shape

(6, 5)

In [7]:
df.head(2)

   S.No      Date  Temperature Event  Windspeed
0     1  01/02/19           35  Snow          4
1     2  02/02/19           30  Rain          6

In [8]:
df.tail(2)

   S.No      Date  Temperature Event  Windspeed
4     5  05/02/19           22  Rain         16
5     6  06/02/19           15  Snow         20

In [9]:
df[2:5]

   S.No      Date  Temperature  Event  Windspeed
2     3  03/02/19           25  Sunny          8
3     4  04/02/19           20  Sunny         12
4     5  05/02/19           22   Rain         16

In [41]:
df[1:-1]

   S.No      Date  Temperature  Event  Windspeed
1     2  02/02/19           30   Rain          6
2     3  03/02/19           25  Sunny          8
3     4  04/02/19           20  Sunny         12
4     5  05/02/19           22   Rain         16

In [10]:
df.Date

0    01/02/19
1    02/02/19
2    03/02/19
3    04/02/19
4    05/02/19
5    06/02/19
Name: Date, dtype: object

In [11]:
df.Event

0     Snow
1     Rain
2    Sunny
3    Sunny
4     Rain
5     Snow
Name: Event, dtype: object

In [12]:
df[['Date','Temperature']]

       Date  Temperature
0  01/02/19           35
1  02/02/19           30
2  03/02/19           25
3  04/02/19           20
4  05/02/19           22
5  06/02/19           15

In [13]:
#Describe Function Define Statistics of a Int
df.describe()

           S.No  Temperature  Windspeed
count  6.000000      6.00000   6.000000
mean   3.500000     24.50000  11.000000
std    1.870829      7.17635   6.164414
min    1.000000     15.00000   4.000000
25%    2.250000     20.50000   6.500000
50%    3.500000     23.50000  10.000000
75%    4.750000     28.75000  15.000000
max    6.000000     35.00000  20.000000

In [14]:
df[df.Temperature>20]

   S.No      Date  Temperature  Event  Windspeed
0     1  01/02/19           35   Snow          4
1     2  02/02/19           30   Rain          6
2     3  03/02/19           25  Sunny          8
4     5  05/02/19           22   Rain         16

In [15]:
df[df.Temperature==df.Temperature.max()]

   S.No      Date  Temperature Event  Windspeed
0     1  01/02/19           35  Snow          4

In [22]:
df

   S.No      Date  Temperature  Event  Windspeed
0     1  01/02/19           35   Snow          4
1     2  02/02/19           30   Rain          6
2     3  03/02/19           25  Sunny          8
3     4  04/02/19           20  Sunny         12
4     5  05/02/19           22   Rain         16
5     6  06/02/19           15   Snow         20

In [30]:
df[['Date','Temperature']][df.Temperature==df.Temperature.max()]

       Date  Temperature
0  01/02/19           35

In [44]:
df.set_index('Date')
df

   S.No      Date  Temperature  Event  Windspeed
0     1  01/02/19           35   Snow          4
1     2  02/02/19           30   Rain          6
2     3  03/02/19           25  Sunny          8
3     4  04/02/19           20  Sunny         12
4     5  05/02/19           22   Rain         16
5     6  06/02/19           15   Snow         20